body{
	background: lightyellow;
}
@media only screen and (min-width: 768px)  and (max-width: 991px){
	body{
		padding-right: 20px;
		padding-left: 20px		
	}	
	.menu .menu-item{
		font-size: 20px;
		width: 20%;
		padding: 5px 0px;	
	}
	#logo{	
		width: 100%;
		padding: 5px 46vw 5px 46vw;
	}
	#logo img{
		width: 60px;
		height: auto;
	}	
}
.menu{  
	width: 100%;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
.image{
	width: 100%;
	height: auto;
	margin-top: 15px;
	float: left;
}
#body-container{
	background-color: #d3e5e4;
}
p{
	text-align: justify;
	font-size: 16px;
}
.title{
	font-family: Anton;
	font-size:  20px;
}
.text{
	font-size: 20px; 
	line-height: 48px; 
	text-indent: 2em;
}
.image-title{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px 0;
    text-align: center; 
}
	