body{
	background: lightyellow;
}
.menu{  
	width: 100%;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px 0;
    text-align: center; 
}
.banner a img{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.banner{
	width: 30%;
	margin: 0px auto;
}
.contact-item
{
	display: inline-block;
	width: 30%;
	height: auto;
}
#contact{
	margin-left: auto;
	margin-right: auto;		
}
#footer div h1{
	font-family: 'Pacifico', cursive;
}
#footer div p{
	font-family: 'Maven Pro', sans-serif;
}
#footer div h3{
	font-family: 'Kanit', sans-serif
}
.contact-item:hover, .banner a img:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(150%);	
  	animation-name: spin;
  	animation-duration: 1000ms;    
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.nav-link{
	border: 1px solid black;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}
.nav-item
{
	display: block;
}
.nav-item:hover, .chossed{
	background-color: #5F79FF;	
}
#scrollspy-nav > ul{
	width: auto;
}
#scrollspy-nav{
	width: 100%;
	padding: 0px;
}
#image{
	width: 100%;
	height: auto;
}
#body-container{
	background-color: #d3e5e4;
}
#title{
	font-family: Anton;
}
#text{
	text-align: justify;
}
#image-title{
	font-family: 'Quicksand', sans-serif;
	width: 100%;
	text-align: center;
	font-weight: bold;
}