body{
	background: lightyellow;
}
.menu{  
	width: 100%;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px 0;
    text-align: center; 
}
.banner a img{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.banner{
	width: 30%;
	margin: 0px auto;
}
.contact-item
{
	display: inline-block;
	width: 30%;
	height: auto;
}
#contact{
	margin-left: auto;
	margin-right: auto;		
}
#footer div h1{
	font-family: 'Pacifico', cursive;
}
#footer div p{
	font-family: 'Maven Pro', sans-serif;
}
#footer div h3{
	font-family: 'Kanit', sans-serif
}
.contact-item:hover, .banner a img:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(150%);	
  	animation-name: spin;
  	animation-duration: 1000ms;    
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#body-container{
	background-color: #d3e5e4;
}
.data-container > img, #modal-image, #modal-video{
	width: 100%;
	height: auto;
}
.data-container > img:hover{
  -webkit-filter: opacity(50%);
  filter: opacity(50%);		
}
.tooltip-inner{
	font-family: 'Source Sans Pro', sans-serif;
}
#body-container > h1{
	font-family: 'Anton', sans-serif;
	width: 100%;
	text-align: center;	
}
#body-container > h3, .modal-body > div > h3{
	font-family: 'Inconsolata', monospace;
	width: 100%;
	text-align: center;	
}
@font-face {
  font-family: myFirstFont;
  src: url("../../Data/Font/ShowcaseSans.ttf");
}
#modal-title{
	font-family: myFirstFont;
	font-style: bold;
}