@media only screen and (min-width: 992px){
	#body-container{
		margin-left: 200px;
		margin-right: 200px;
	}	
	#contact{
		width: 50%;
	}		
	.banner{
		width: 25%;
	}	
	.menu .menu-item{
		font-size: 20px;
		padding-bottom: 12.5px;
		padding-top: 12.5px;
	}	
	.right{
		float: right;
	}
	#logo img{
		height: 45px;
		width: 45px;
	}		
	div[id^="section"] > div:first-child{
		padding: 40px 20px;
	}	
	div[id^="section"] > div:nth-child(2){
		margin-top: auto;
		margin-bottom: auto;		
	}
	.row > div > p{
		font-size: 23px;
	}
	.row > div > p > b{
		font-size: 25px;
	}
	#goTop{
		width: 60px;
		height: 60px;
		border: 3px solid black;
		border-radius: 50%;			
	}
	#goTop > i{		
		line-height: 55px;
		font-size: 35px;
	}	
	.top-container{
		width: 200px;
	}	
	.top-container > .popup-text{
		width: 140px;
		margin-top: 3px;
		padding-left: 6px;
		padding-right: 6px;	
		font-size: 23px;
	}
}