@media only screen and (min-width: 768px)  and (max-width: 991px){
	body{
		padding-right: 20px;
		padding-left: 20px		
	}	
	.menu .menu-item{
		font-size: 20px;
		width: 20%;
		padding: 5px 0px;	
	}
	#logo{	
		width: 100%;
		padding: 5px 46vw 5px 46vw;
	}
	#logo img{
		width: 60px;
		height: auto;
	}
	#contact{
		width: 80%;
	}		
	.banner{
		width: 50%;
	}		
	.nav-link{
		font-size: 14px;		
	}	
	#scrollspy-nav > ul{
		margin: 12px auto;
	}
	#text{
		font-size: 13px;
	}
	#image-title{
		font-size: 14px;
	}	
	#title{
		font-size:  20px;
	}
	#content	
	{
		margin-bottom: 0px;
	}		
}		