body{
	background: lightyellow;
}
.menu{  
	width: 100%;
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}
.banner a img{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.banner{
	width: 30%;
	margin: 0px auto;
}
.contact-item
{
	display: inline-block;
	width: 30%;
	height: auto;
}
#contact{
	margin-left: auto;
	margin-right: auto;		
}
.contact-item
{
	display: inline-block;
	width: 30%;
	height: auto;	
}
footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px 0;
    text-align: center; 
}
.row > div > img{
	width: 100%;
	height: auto;
}
#body-container{
	background-color: #d3e5e4;
}
.row > div > p > b{
	font-family: 'Pacifico', cursive;
}
.top-container{
	z-index: 100;
	position: fixed;
	right: 0%;	
}
.top-container > .popup-text{
	opacity: 0.8;
	background-color: rgba(5, 5, 5, 0.65);
	color: rgba(255, 255, 255, 0.88);
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
	text-align: center;
}
#goTop{
	margin-left: auto;
	margin-right: auto;	
	cursor: pointer;	
	border-radius: 50%;
}
#goTop:hover{
	color: #ACACAC;
	border-color: #ACACAC;
}
#goTop > i{		
	width: 100%;
	text-align: center;
}
.contact-item:hover, .banner a img:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(150%);	
  	animation-name: spin;
  	animation-duration: 1000ms;    
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}