@media only screen and (min-width: 768px)  and (max-width: 991px){
	body{
		padding-right: 20px;
		padding-left: 20px;
	}	
	.menu .menu-item{
		font-size: 20px;
		width: 20%;
		padding: 5px 0px;	
	}
	#logo{	
		width: 100%;
		padding: 5px 46vw 5px 46vw;
	}
	#logo img{
		width: 60px;
		height: auto;
	}
	#slider-controller{
		font-size: 40px;
	}
	#slider-indicator .indicator-item{
		width: 13px;
		height: 13px;	
	}
	#slider-indicator{
		padding-right: 42vw;
		padding-left: 42vw;
	}
	#introduce, #slider{
		padding-right: 0px;
		padding-left: 0px;
	}
	#section-1 #introduce h1{
		font-size: 30px;
	}
	#section-1 #introduce p{
		font-size: 20px;
	}
	#section-1 #introduce {
		padding-left: 20px;
	}	
	#section-1 #introduce {
		padding-right: 10px;
		padding-left: 20px;
		margin-top: auto;
		margin-bottom: auto;
	}		
	#section-2 div{
		padding: 0px 20px;
	}
	.image-item img{
		width: 100%;
		height: auto;
		margin-top: 30px;
	}
	#section-2{
		padding-top: 40px;
		padding-bottom: 40px;
	}	
	#section-2 .text h1{	
		font-size: 40px;
		margin: 0px;
	}
	#contact{
		width: 80%;
	}		
	.banner{
		width: 50%;
	}		
	
}